body {
    margin: 0px;
}

nav {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    padding: 15px 0 15px 0;
}

nav ul a {
    text-decoration: none;
    color: black;
    font-size: 21px;
    padding: 8px;
    font-family: Roboto Condensed;
    font-weight: 550;
}

nav ul a:hover {
    color: rgb(175, 7, 7);
}


nav ul button {
    background: none;
    border: none;
    outline: none;
}

nav ul {
    margin: auto;
    display: flex;
}

.Nav-sections i {
    display: none;
}

/* Super container */

.Everything-Container {
    height: fit-content;
    margin-top: 5%;
}



/* First section */


.First-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
    margin-left: 8%;
    margin-top: 8%;
}

.Motto-Contact {
    font-family: Roboto Condensed;
}

.Motto-Contact section h1 {
    font-size: 65px;
}

.Motto-Contact section p {
    font-size: 35px;
    width: 90%;
}

.Motto-Contact div {
    display: flex;
    width: 100%;
    gap: 15px;
}


.Motto-Contact button {
    background: none;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    width: 40%;
}

#Info-button {
    border: 2px solid rgb(184, 32, 32);
    color: rgb(184, 32, 32);
}

#Info-button:hover {
    background-color: rgb(184, 32, 32);
    color: white;
}

#Contact-button {
    border: 2px solid rgb(184, 32, 32);
    color: rgb(184, 32, 32);
}

#Contact-button:hover {
    background-color: rgb(184, 32, 32);
    color: white;
}

.Mobile-Photo {
    display: none;
}

.Desktop-Photo {
    display: block;
        width: 350px;
        height: 350px;
        border: 1px solid black;
        border-radius: 100%;
        margin-left: 10%;
        margin-right: 10%;
}


/* Second Section */


.Second-section-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-right: 5%;
    margin-top: 7%;
}

.Skills-text {
    font-family: Roboto Condensed;
    text-align: left;
}

.Skills-text h3 {
    font-size: 30px;
}

.Skills-text p {
    font-size: 20px;
}

.Icon-section,
.Icon-section article {
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-family: sans-serif;
    font-size: 20px;
}



/* Third section */

.Third-section-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    justify-items: center;
    margin: 10%;
}

.Third-section-grid {
    font-family: Roboto Condensed;
    font-size: 1.5em;
}

.Third-section-skills {
    text-align: center;
}

.Skill-card {
    text-align: center;
    padding: 15px;
}



/*  Portfolio  */



.Portfolio-content {
    margin-top: 5%;
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: fit-content;
}



.Portfolio-image {
    width: 100%;
    height: fit-content;
    text-align: center;
    background-color: white;
}

.Portfolio-image:hover {
    opacity: 95%;
}

.Portfolio-image img {
    width: 100%;
    height: 100%;
}

.Portfolio-image h3 {
    margin: 25%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.Second-section,
.Third-section,
.Portfolio-section {
    display: none;
}

/*  Media */

@media(max-width: 480px) {



    /* Navegation */

    nav {
        position: fixed;
        bottom: 0%;
        background-color: black;
    }

    nav ul {
        padding: 5px;
    }


    .Nav-title,
    .Nav-contact{
        display: none;
    }

    .Nav-sections {
        justify-content: space-between;
    }


    .Nav-sections a{
        font-size: 15px;
        text-align: center;
        margin: auto;
        align-items: center;
        justify-items: center;
        padding: 0 15px 0 15px;
        color: white;
    }

    .Nav-sections i {
        display: block;
        font-size: 12px;
    }

    /* First section */

    .Desktop-Photo {
        display: none;
    }

    .Mobile-Photo {
        display: block;
        width: 250px;
        height: 250px;
        border: 1px solid black;
        border-radius: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .First-Section {
        padding-bottom: 200px;
    }

    .First-grid {
        display: grid;
        grid-template-columns: 100%;
    }

    .Motto-Contact section {
        text-align: center;
        margin: auto;
    }

    .Motto-Contact section h1 {
        font-size: 2em;
    }

    .Motto-Contact section p {
        font-size: 20px;
    }

    .Motto-Contact button {
        padding: 5px;
        margin: auto;
    }


    /* Second section */

    .Second-section-grid {
        display: grid;
        grid-template-columns: 100%;
        margin: 10px;
    }


    .Skills-text {
        font-size: 0.5em;
        text-align: center;
    }

    .Icon-section {
        width: 90%;
    }

    .Icon-section article{
        text-align: center;
        font-size: 15px;
        padding: 10px;
    }

    /* Third section */

    .Third-section {
        padding-bottom: 100px;
    }

    .Third-section-Experience {
        font-size: 20px;
    } 

    .Third-section-grid {
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
    }

    .Third-section-skills {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }


    .Skill-card {
        margin: auto;
    }

    .Skill-card h3 {
        font-size: 18px;
    }

    .Skill-card  p {
        font-size: 20px;
    }

    .Skill-card i {
        font-size: 35px;
    }



    /* Portfolio */

    .Portfolio-content {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        margin-top: 0%;
    }

    .Portfolio-title p{
        font-size: 20px;
    }

    .Portfolio-image h3 {
        font-size: 10px;
    }

    .Portfolio-image img {
        border-radius: 0px;
    }

    .Portfolio-image {
        height: 200px;
    }

    .Third-section {
        display: none
    }

    /*Footer */

    footer {
        display: grid;
        grid-template-columns: 100%;
    }

    .Last-media ul li {
        list-style: none;
    }

    footer div {
        text-align: center;
    }

}