body {
    margin: 0px;
}

nav {
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

nav ul {
    display: flex;
    color: white;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav ul a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

nav ul a:hover {
    color: grey;
}

.Nav-contact {
    width: 50%;
}

.Nav-contact button {
    background: none;
    border: none;
    outline: none;
}

.Nav-contact i {
    font-size: 28px;
}


/* First section */

.First-Section  {
    width: 100%;
}


.First-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 10%;
}

.Motto-Contact {
    font-size: 65px;
    font-family: Roboto Condensed;
}


.Motto-Contact button {
    background: none;
    border: 3px solid rgb(23, 122, 23);
    border-radius: 10px;
    padding: 10px;
}


.Motto-Contact a {
    color: rgb(23, 122, 23);
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}



.Motto-Contact button:hover,
.Motto-Contact a:hover {
    color: white;
    background-color: rgb(23, 122, 23);
}

.Profile-photo {
    border: 1px solid black;
    border-radius: 100%;
    height: 400px;
    width: 400px;
}




/* Second Section */

.Second-section {
    width: 100%;
    background-color: rgb(240, 240, 240);
}

.Second-section-grid {
    display: grid;
    grid-template-columns: 50% 50%;
}

.Skills-text {
    font-family: Roboto Condensed;
    text-align: left;
}

.Skills-text h3 {
    font-size: 30px;
}

.Skills-text p {
    font-size: 20px;
}

.Icon-section,
.Icon-section article {
    display: flex;
    justify-content: space-between;
    margin: auto;
    font-family: sans-serif;
    font-size: 20px;
}

/* Third section */

.Third-section {
    width: 100%;
    background-color: gainsboro;
    padding-bottom: 200px;
}

.Third-section-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    margin: 20px;

}

.Third-section-title {
    text-align: center;
    width: 60%;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 100px;
    font-size: 2em;
    font-family: Roboto Condensed;
}

.Skill-card {
    border-radius: 8px;
    width: 70%;
    text-align: center;
    font-size: 1.5em;
    font-family: sans-serif;
    padding: 25px;
    margin: auto;
}

.Skill-card:hover {
    color: white;
    background-color: rgb(32, 68, 167);
}

.Skill-card p {
    font-size: 20px;
}

.Skill-card i {
    font-size: 55px;
}





/*  Portfolio  */

.Portfolio-section {
    background-color: rgb(180, 180, 180);
    height: 100%;
    padding-bottom: 200px;
}

.Portfolio-title {
    width: 40%;
    text-align: center;
    padding-top: 100px;
}

.Portfolio-title p {
    font-family: sans-serif;
    font-size: 45px;
    font-weight: 400;
}

.Portfolio-content {
    background-color: white;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 5px;
    height: fit-content;
}


.Portfolio-title,
.Portfolio-content {
    margin: auto;
}

.Portfolio-image {
    width: 100%;
    height: fit-content;
    text-align: center;
    height: 250px;
    border: 1px solid black;
}

.Portfolio-image:hover {
    background-color: white;
    opacity: 25%;
}

.Portfolio-image img {
    width: 100%;
    height: 100%;
}

.Portfolio-image h3 {
    margin: 25%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




/* Footer */

footer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: rgb(37, 37, 37);
    padding: 15px;
}

footer div {
    margin: auto;
    color: white;
    font-family: sans-serif;
}

footer div a {
    color: rgb(57, 57, 196);
    text-decoration: none;
}
